In [2]:
import pandas as pd
import numpy as np

In [15]:
column_names_df = pd.read_csv('data/lending_club_data_dictionary.csv', delimiter=',', encoding='latin-1')
column_names_df = column_names_df.dropna(axis=1, how='all')
column_names_df = column_names_df.dropna(subset=['LoanStatNew'], how='all')
column_names_df

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
146      settlement_status  The status of the borrowers settlement plan. ...
147        settlement_date  The date that the borrower agrees to the settl...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...

[151 rows x 2 columns]

In [37]:
loan_stat_df = pd.read_csv('data/LoanStats3a.csv',low_memory=False, delimiter=',', skiprows=1)#, encoding='latin-1')
print(f"original csv rows and columns: {loan_stat_df.shape}")
loan_stat_df = loan_stat_df.dropna(axis=1, how='all')   # dropping columns that does not contain values in any row
loan_stat_df = loan_stat_df.drop('id', axis=1)     # no values present in this column, except last two with text data
print(f"drop all nan columns shape: {loan_stat_df.shape}")
loan_stat_df = loan_stat_df.dropna(how='all')      # dropping rows having all nan values
print(f"drop all nan rows shape: {loan_stat_df.shape}")
print(f"All columns: [{loan_stat_df.columns}]")

original csv rows and columns: (42538, 144)
drop all nan columns shape: (42538, 62)
drop all nan rows shape: (42535, 62)
All columns: [Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object')]

In [39]:
loan_stat_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,settlement_amount,settlement_percentage,settlement_term
count,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,42535.000000,42506.000000,42506.000000,15609.000000,3651.000000,...,42390.0,42535.0,42506.000000,42390.0,42506.000000,41170.000000,42430.000000,161.000000,161.000000,161.000000
mean,11089.722581,10821.585753,10140.329470,322.623063,6.913656e+04,13.373043,0.152449,1.081424,35.017618,59.175568,...,0.0,1.0,0.000094,0.0,0.143039,0.045227,0.000024,4253.081056,49.921615,1.260870
std,7410.938391,7146.914675,7131.528517,208.927216,6.409635e+04,6.726315,0.512406,1.527455,22.418427,47.145396,...,0.0,0.0,0.009700,0.0,29.359579,0.208737,0.004855,3117.891427,15.525637,4.129954
min,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,193.290000,10.690000,0.000000
25%,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,8.200000,0.000000,0.000000,17.000000,0.000000,...,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,1800.000000,40.000000,0.000000
50%,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,13.470000,0.000000,1.000000,33.000000,85.000000,...,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,3498.700000,49.980000,0.000000
75%,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,18.680000,0.000000,2.000000,51.000000,101.000000,...,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,5684.800000,60.640000,0.000000
max,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,33.000000,120.000000,129.000000,...,0.0,1.0,1.000000,0.0,6053.000000,2.000000,1.000000,14798.200000,92.740000,24.000000